 <html>
 <head>
<meta charset="UTF-8">
</head> 
<body>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Let's share a few things about ourselves</small>
            </h1>
           
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
                      <img class="img-responsive"  src="Images/logo.png" >
        </div>	
        <div class="col-md-6">
            <h2>Greek Bay</h2>

            <p>To Greek Bay είναι το μεγαλύτερο auction site στην Ελλάδα. </p>

            <p>Δημιουργήθηκε από τους Λεωτσαράκο Δημήτριο και Σταύρο Σωτηρόπουλο, φοιτητές στο τμήμα Πληροφορικής και Τηλεπικοινωνιών του Εθνικού Καποδιστριακού Πανεπιστημίου.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Η ομάδα μας </h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" style="width:400x;height:400px;" src="Images/1482919_3856651032202_1403234170_n.jpg">

            <h3>Λεωτσαράκος Δημήτριος‚
                <small>Web Developer</small>
            </h3>
            <p> Ο Δημήτριος Λεωτσαράκος είναι ο Frontend Developer. Ασχολήθηκε κυρίως με την AngularJS και την δημιουργία των σελίδων με HTML και το Bootstrap Framework.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/dimitris.leotsarakos" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" style="width:400x;height:400px;" src="Images/13528962_1052762501481934_3755088751446576945_n.jpg">

            <h3>Σταύρος Σωτηρόπουλος‚
                <small>Web Developer</small>
            </h3>
            <p> Ο Σταύρος Σωτηρόπουλος είναι ο Backend Developer. Ασχολήθηκε κυρίως με τη λειτουργία του server σε Java και τη βάση δεδομένων(JPA, Restful Web Services)</p>

            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/stavros.sotiropoulos.9" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://gr.linkedin.com/in/stavros-sotiropoulos-378769118" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>


    </div>


</div>
<!-- /.container -->

</body>
</html>